
<div class="container">
	<%= form_with model: @profile do |form| %>	

  <div class="col col-md-6">
		<%= form.text_field :firstname, placeholder:'First Name' ,class:'form-control' %>
  </div>

  <div class="col col-md-6">
		<%= form.text_field :lastname , placeholder: 'Last Name' ,class: 'form-control' %>
  </div>

  <div class="col col-md-6">
		<%= form.text_field :phone, placeholder:'Phone Number' ,class:'form-control' %>
  </div>

  <div class="col col-md-6">
		<%= form.text_field :mail_id ,placeholder: 'Email Address',class: 'form-control' %>	
  </div>

  <div class="col col-md-6">
    	<%= form.label :gender,class:'form-label' %>
		<%= form.select :gender,[ 'Male','Female','Others'],class:'form-control'  %>
  </div>

  <div class="col col-md-6">
  		<%= form.label :occupation,class:'form-label' %>
  		<%= form.select :occupation , [ 'Housewife','Teacher','Business','Student','Job/Service','Others' ] ,class:'form-select'%>
  </div>

  <div class="col col-md-4">
		<%= form.text_field :city , placeholder: 'City',class:'form-control' %>
  </div>

  <div class="col col-md-4">
  		<%= form.label :state,class:'form-label' %>
   		<%= form.select :SELECT_STATE , [ 'Andhra Pradesh','Assam','Bihar','Chandigarh','Delhi','Goa','Gujarat','Haryana','Jammu','Kerala','Maharashtra','Odisha','Punjab','Sikkim','Tamil Nadu','Tripura','Uttar Pradesh','Uttarakhand','West Bengal','Others' ],class:'form-select' %>
  </div>

  <div class="col col-md-4">
		<%= form.text_field :pincode,placeholder:'Pincode',class:'form-control' %>
  </div><br>

  <div class="col col-md-12">
   		<%= form.submit class:'btn btn-danger' %>
  </div>
	<% end %>
</div>