<div class="form">
    <%= form_with(model: book) do |form| %>
  
        <div class="row">

            <div class="col col-md-6">
              <%= form.text_field :title ,class:'form-control input',placeholder: 'Book Title'%>
                <% book.errors.full_messages_for(:title).each do |message| %>
                <div class="error"><%= message %></div>
                <% end %>
            </div>

            <div class="col col-md-6 ">
              <%= form.text_field :author,placeholder: 'Author' ,class:'form-control input' %>
              <% book.errors.full_messages_for(:author).each do |message| %>
                <div class="error"><%= message %></div>
                <% end %>
            </div>

             <div class="col col-md-12 ">
              <%= form.text_area :content,placeholder: 'Write About Book ...',class: 'form-control input' %>
            </div>
           
             <div class="col col-md-4 ">
              <%= form.text_field :price,placeholder: 'Price',class: 'form-control input' %>
              <% book.errors.full_messages_for(:price).each do |message| %>
                <div class="error"><%= message %></div>
                <% end %>
            </div>
           
            <div class="col col-md-4 ">
              <%= image_tag form.object.image_url if form.object.cached_image_data%>
              <%= form.hidden_field :image, value: form.object.cached_image_data %>
              <%= form.file_field :image, label: 'Choose Book Image' ,class: '' %>
              <% book.errors.full_messages_for(:image).each do |message| %>
                <div class="error"><%= message %></div>
                <% end %>
            </div>

            <div class="col col-md-4">
              <%= form.select :category_id, options_for_select(@categories.collect { |cat| [cat.name, cat.id]}) , class: 'input'%>
              <% book.errors.full_messages_for(:category_id).each do |message| %>
                <div class="error"><%= message %></div>
                <% end %>
            </div>

            <div class="col col-md-12 ">
              <%= form.submit class:'btn btn-danger' %>
            </div>

        </div>
    <% end %>
</div>
