<div class="form">
<%= form_with model: @user do |form| %>
<p>
	<%= form.label :user_Name ,class: 'label'%>
	<%= form.text_field :name ,class: 'input' %>
	<%= @user.errors.full_messages_for(:name).each do |message| %>
	<p><%= message %></p>
	<% end %>
</p>
<p>
	<%= form.label :user_Age ,class: 'label'%>
	<%= form.text_field :age ,class: 'input' %>
	<%= @user.errors.full_messages_for(:age).each do |message| %>
	<p><%= message %></p>
	<% end %>
</p>
<p>
	<%= form.label :user_Address ,class: 'label'%>
	<%= form.text_area :address ,class: 'input' %>
	<%= @user.errors.full_messages_for(:address).each do |message| %>
	<p><%= message %></p>
	<% end %>
</p>
<p>
	<%= form.label :phone_no ,class: 'label'%>
	<%= form.text_field :phone ,class: 'input'%>
	<%= @user.errors.full_messages_for(:phone).each do |message| %>
	<p><%= message %></p>
	<% end %>
</p>
<p>
	<%= form.submit %>
</p>
<% end %>
</div>