<div class="Head">
    <center>
    <h1>Collection</h1>
    <h4>Home - Collections </h4>
    </center>
</div>
<div class="grid">
<div class="grid-container">    
        <div class="card">
            <%= image_tag 'book9.jpg',class:'cart-img' %>
            <h4 class="h4"><b>WOMEN'S FICTION</b></h4> 
            <p>Women’s fiction describes books that centre on the experiences and actions of female characters. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'book6.jpg' ,class:'cart-img'%>
            <h4 class="h4"><b>HISTORICAL FICTION</b></h4> 
            <p>These books give readers a glimpse into the past, with many stories set in times of great conflict and change.</p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'book13.jpg' ,class:'cart-img'%>
            <h4 class="h4"><b>MYSTERY</b></h4> 
            <p>Mysteries are full of suspense, and usually keep the reader guessing until the last moment.</p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'book11.jpg',class:'cart-img' %>
            <h4 class="h4"><b>PLAYS</b></h4> 
            <p>Plays are written to be performed rather than read, but they’re still seen as a key literary genre. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'horror.jpg' ,class:'cart-img'%>
            <h4 class="h4"><b>HORROR</b></h4> 
            <p>The genre has also spawned hundreds of popular horror movies.</p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'book8.jpg' ,class:'cart-img'%>
            <h4 class="h4"><b>FANTASY</b></h4> 
            <p>Fantasy books are probably the most popular modern book genre. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'book1.jpg',class:'cart-img' %>
            <h4 class="h4"><b>SCIENCE FICTION</b></h4> 
            <p>sci-fi books are usually bound by the laws of science as we know them in the real world.</p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'book4.jpg' ,class:'cart-img'%>
            <h4 class="h4"><b>ROMANCE</b></h4> 
            <p>Everyone enjoys a good love story — which is why romance novels are one of the most popular types of books. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'book3.jpg',class:'cart-img' %>
            <h4 class="h4"><b>SHORT STORIES</b></h4> 
            <p>Short stories are often found in anthologies or collections, which can be by the same or a variety of authors.</p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>      

         <div class="card">
            <%= image_tag 'auto-bio2.jpg',class:'cart-img' %>
            <h4 class="h4"><b>AUTOBIOGRAPHY AND MEMOIR</b></h4> 
            <p>Memoirs and autobiographies are popular among self-publishing writers who have incredible life stories to share. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'bio.jpg' ,class:'cart-img'%>
            <h4 class="h4"><b>BIOGRAPHY</b></h4> 
            <p>There are millions of real-life stories out there just waiting to be told.</p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'essay.jpg' ,class:'cart-img'%>
            <h4 class="h4"><b>ESSAYS</b></h4> 
            <p>Essays are much more academic than other forms of writing. They tend to follow a thesis set by the author. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'self-help.jpg',class:'cart-img' %>
            <h4 class="h4"><b>SELF-HELP BOOKS</b></h4> 
            <p>Self-help books are probably the most popular ,since they offer the promise of self-improvement and healing. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>   
        <div class="card">
            <%= image_tag 'non-fic-novel.jpg',class:'cart-img' %>
            <h4 class="h4"><b>NON-FICTION NOVEL</b></h4>
            <p>Non Fiction books are probably the most popular modern non-fiction genre, since they offer the promise of novels. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>   

</div>
</div>