 
<center><div class="card-items">
	<table class="table table-striped">
			<thead class="table-dark" >
				<th>Name</th>
				<th>Age </th>
				<th>Address</th>
				<th>Phone_no</th>
				<th colspan="3">Actions</th>
			</thead>
		<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.age %></td>
			<td><%= user.address %></td>
			<td><%= user.phone %></td>
			<td><%= link_to 'show',home_path(user),class: 'link'%></td>
			<td><%= link_to 'edit',edit_home_path(user),class: 'link' %></td>
		</tr>
		<% end %>
	</tbody>
	</table>
</div>
</center>


