<div class="Head">
    <center>
    <h1>Collection</h1>
    <h4>Home - Non Fiction </h4>
    </center>
</div>
<div class="grid">
<div class="grid-container">    
        <div class="card">
            <%= image_tag 'auto-bio2.jpg',class:'cart-img' %>
            <h4 class="h4"><b>AUTOBIOGRAPHY AND MEMOIR</b></h4> 
            <p>Memoirs and autobiographies are popular among self-publishing writers who have incredible life stories to share. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'bio.jpg' ,class:'cart-img'%>
            <h4 class="h4"><b>BIOGRAPHY</b></h4> 
            <p>There are millions of real-life stories out there just waiting to be told.</p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'essay.jpg' ,class:'cart-img'%>
            <h4 class="h4"><b>ESSAYS</b></h4> 
            <p>Essays are much more academic than other forms of writing. They tend to follow a thesis set by the author. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>
         <div class="card">
            <%= image_tag 'self-help.jpg',class:'cart-img' %>
            <h4 class="h4"><b>SELF-HELP BOOKS</b></h4> 
            <p>Self-help books are probably the most popular ,since they offer the promise of self-improvement and healing. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>   
        <div class="card">
            <%= image_tag 'non-fic-novel.jpg',class:'cart-img' %>
            <h4 class="h4"><b>NON-FICTION NOVEL</b></h4>
            <p>Non Fiction books are probably the most popular modern non-fiction genre, since they offer the promise of novels. </p> 
            <%= link_to 'Add Cart',root_path,class:'btn btn-danger' %>
        </div>   
</div>
</div>