<div class="Head">
      <center>
      <h1>collections</h1>
      <h4> <%= link_to 'All', books_path %> - <%= @category.name %> </h4>
      </center>
</div>

<div id="<%= dom_id @category %>" >

    <div class='grid-container'>
      <% @category.books.each do |book| %> 
            <div class="card">
              <%= image_tag book.image_url ,class:'cart-img' %>
              <p><b><%= book.author %></b></p>
              <h4 class="h4"><b><%= book.title %></b></h4> 
              <p><b>Price: &#8377;&nbsp;<%= book.price %></b></p>   
              <p><%= link_to "Show this book", book %></p>
            </div>
        <% end  %>
    </div>

</div> 































