<!DOCTYPE html>
<html>
  <head>
    <title>LoginApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
  <ul>
    <li><h2 style="font-weight: bold;font-family: monospace;">Customer Details</h2></li>
    <li><%= link_to 'NEW',new_home_path ,class:'nav-link' %></li>

  </ul>
</nav>
    <%= yield %>
  </body>
</html>
